:root {
  --primary-color: #212194;
  --secondary-color: #272142;
  --default-font-family: "PT Serif", serif;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 70px;
  color: var(--secondary-color);
}
.about h1 {
  font-size: 44px;
  font-family: var(--default-font-family);
}
.about h2 {
  font-size: 34px;
  font-family: var(--default-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.heading {
  background: #fff;
  text-align: center;
  padding: 160px 20px;
}
.heading p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
}
.heading h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.index a {
  color: #212194;
  text-decoration: underline;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  background: #272142;
  border-radius: 1px solid #272142;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
a {
  text-decoration: none;
  color: #272142;
  transition: all 15sec ease-in-out;
}
.active a {
  color: #212194;
}
.content-container {
  padding: 120px 60px;
}
.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}
.logo {
  max-width: 150px;
  border-radius: 50%;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 20px;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 15sec ease-in-out;
}
nav li.active a {
  color: #212194;
}
.icons {
  font-size: 28px;
  text-align: center;
}
.icons a {
  color: #272142;
  transition: all 15sec ease-in-out;
}
.mail {
  font-size: 28px;
  text-decoration: none;
  color: #272142;
  transition: all 15sec ease-in-out;
}
nav li.active a {
  color: #212194;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
